@import '../../node_modules/sal.js/dist/sal.css';
body{
padding: 0;
margin: 0;
height: 100%;
background:url(../img/sec2.jpg) center fixed no-repeat;
background-size: cover;
}
#fullpage {
    height: 100vh;
    overflow: hidden;
  }
  
  #fullpage section { height: 100vh; }
.sec1{
    height: 100%;
    position: relative;
    background:url(../img/bg.jpg) center fixed no-repeat;
    background-size: cover;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
  }
  
  li {
    float: right;
    padding: 10px;
  }
  li:nth-of-type(1){
      float: left !important;
  }
  li:nth-of-type(5), a{
    color:red;
}
  li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    color: blue;
    transition: all 0.3s ease;
  }
  
  .logo{
    width: 200px;
    height: 40px;
    }
.nextsection {
    position: absolute;
    bottom: 0;
    left:38%;
}
.welcometext{
position: absolute;
right:6%;
top: 30%;
}
.welcometext img{
    width: 500px;
}
.ml2 {
    font-weight: 900;
    font-size: 50px;
    color: blue;
  }
  
  .ml2 .letter {
    display: inline-block;
    line-height: 1em;
  }


